$pdf-width: 613px/2;
$pdf-height: 755px/2;

.pdf-stack {
    position: relative;
    width: $pdf-width;
    height: $pdf-height;

    &:hover {
        .pdf:nth-child(4) {
            transform-origin: bottom right;
            transform: rotate(0deg);
        }
        .pdf:nth-child(3) {
            transform-origin: bottom right;
            transform: rotate(15deg);
        }
        .pdf:nth-child(2) {
            transform-origin: bottom right;
            transform: rotate(30deg);
        }
        .pdf:nth-child(1) {
            transform-origin: bottom right;
            transform: rotate(45deg);
        }
    }
}

.pdf {
    width: $pdf-width;
    height: $pdf-height;
    position: absolute;
    transition: all 0.5s ease;
    z-index: -1;

    &:nth-child(1) {
        transform: rotate(random(20) - 10 + deg);
    }
    &:nth-child(2) {
        transform: rotate(random(20) - 10 + deg);
    }
    &:nth-child(3) {
        transform: rotate(random(20) - 10 + deg);
    }
    &:nth-child(4) {
        transform: rotate(random(20) - 10 + deg);
    }
}
